<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
	<h1><%= tittle %> </h1>
	<ul>
		<li><a href="/">index</a></li>
		<li><a href="/music">music</a></li>
		<li><a href="/login">login</a></li>
		<li><a href="/about">about</a></li>
		<li><a href="/contact">contact</a></li>
	</ul>
	<img src="/images/node.jpg" width="60%">

</body>
</html>